{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ParquetToCSV{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to the parquet to csv converter based on pandas</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
